.text-area .content  {
    -fx-background-color: #232229 ;
}
.text-area   {
    -fx-text-fill: #f5e6bf;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
}

.password-field  {
    -fx-background-color: #232229 ;
    -fx-text-fill: white;
}

.button{
    -fx-display:inline-block;
    -fx-padding:0.3em 1.2em;
    -fx-margin:0 0.3em 0.3em 0;
    -fx-border-radius:2em;
    -fx-box-sizing: border-box;
    -fx-text-decoration:none;
    -fx-font-family:'Roboto',sans-serif;
    -fx-color:#232229;
    -fx-background-color:#232229;
    -fx-text-align:center;
    -fx-transition: all 0.2s;
    -fx-text-fill: white;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
}
.button:hover{
    -fx-background-color:#fc9708;
}

